*{
    padding:0;
    margin: 0;
}
nav{
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 60px;
    background-color: cyan;
    color: darkblue;
    font-size: xx-large;
}
  
.mymargin{
    margin: 3px;
}

.mymargin2{
     margin: 5px;
}